<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/luizgzn/rede_legal">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://www.instagram.com/redelegal">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/tomdarede/">
      <i class="fa fa-facebook"></i>
    </a>
  </div>
  <div class="footer-copyright" >
    Feito com
    <i class="fa fa-heart"></i> por Tom
  </div>
</div>