<div class="banner" style="background-image: url('http://res.cloudinary.com/dohfsgcbx/image/upload/v1511621106/banner_site_hack_urv9yo.jpg');">
  <div class="banner-content">
    <%= link_to  "Fale com o tom", "https://www.messenger.com/t/tomdarede", class: "btn btn-primary btn-lg btn-override" %>
  </div>
</div>