<div class="banner" style="background-image: url('http://res.cloudinary.com/dohfsgcbx/image/upload/v1511621106/banner_site_hack_urv9yo.jpg');">
  <div class="banner-content">
    <a class="btn btn-primary btn-lg btn-override">Fale com o Tom</a>
  </div>
</div>